Repository VitDeck/VitDeck, pull requests merged in 2019-07, with the labels that each got.

#134 Feature/#94
  VitDeck/Assets/VitDeck/AssetGuardian/AssetRestorer.cs
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/LabelAndHideFlagProtectionMarkerTest.cs
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Audio Mixer.mixer
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Audio Mixer.mixer.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test AvatarMask.mask
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test AvatarMask.mask.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test ComputeShader.compute
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test ComputeShader.compute.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Movie.mp4
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Movie.mp4.meta
  VitDeck/Assets/VitDeck/TestUtilities/TestAssets.cs
  VitDeck/Assets/VitDeck/TestUtilities/TestDataBinary.cs
Labels: AssetGuardian

#135 Fix #133
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/GUI/ValidatedExporterGUI.cs
Labels: 1.0.0-vketB, Exporter, bug

#136 Feature/#132
  release.bat
  releaseAssets/LICENSE.txt.meta
  releaseAssets/README.txt.meta
Labels: 1.0.0-vketB, enhancement

#137 Feature/#113
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/MissingFinder.cs
Labels: 1.0.0-vketB, Validator, enhancement

#139 Fix #118
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/MissingFinder.cs
  VitDeck/Assets/VitDeck/Validator/Tests/B06_TestMissingReferenceRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule/B06_MissingTestMaterial.mat
Labels: 1.0.0-vketB, Validator, bug

#138 Fix #122
  VitDeck/Assets/VitDeck/AssetGuardian/AssetRestorer.cs
Labels: 1.0.0-vketB, AssetGuardian, bug

#141 Feature/#75
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B05_NoneMeshRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B05_NoneMeshRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Rules/Sample/SampleRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Tests/B05_TestNoneMeshRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/B05_TestNoneMeshRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B05_NoneMeshRule.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B05_NoneMeshRule/B05_NoneMeshRule.unity
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B05_NoneMeshRule/B05_NoneMeshRule.unity.meta
Labels: Validator, enhancement

#142 Feature/readme 1.0.0 vket b
  README.md
Labels: 1.0.0-vketB, enhancement
