Repository VitDeck/VitDeck, pull requests merged in 2019-06, with the labels that each got.

#51 Fix #50 Update sample_template
  VitDeck/Assets/VitDeck/Templates/Sample_template/TemplateAssets/{BOOTHID}_{NAME}/Sample_object_prefab.prefab
  VitDeck/Assets/VitDeck/Templates/Sample_template/TemplateAssets/{BOOTHID}_{NAME}/Shaders.meta
Labels: TemplateLoader, bug

#49 Fix #45
  VitDeck/Assets/VitDeck/TemplateLoader/GUI/TemplateLoaderGUI.cs
Labels: TemplateLoader, bug

#52 Feature/#44
  VitDeck/Assets/VitDeck/Main/GUI/InfoWindow.cs
  VitDeck/Assets/VitDeck/Main/JsonReleaseInfo.cs
  VitDeck/Assets/VitDeck/Main/JsonReleaseInfo.cs.meta
  VitDeck/Assets/VitDeck/Main/Repository.cs
  VitDeck/Assets/VitDeck/Main/Tests/JsonReleaseInfoTest.cs
  VitDeck/Assets/VitDeck/Main/Tests/JsonReleaseInfoTest.cs.meta
  VitDeck/Assets/VitDeck/Main/Tests/RepositoryTest.cs
  VitDeck/Assets/VitDeck/Main/Tests/UpdateCheckTest.cs
  VitDeck/Assets/VitDeck/Main/UpdateCheck.cs
Labels: Main, enhancement

#55 Feature/#40
  VitDeck/Assets/VitDeck/AssetGuardian/AssetRestorer.cs
  VitDeck/Assets/VitDeck/AssetGuardian/AssetRestorer.cs.meta
  VitDeck/Assets/VitDeck/AssetGuardian/AssetTypeIdentifier.cs
  VitDeck/Assets/VitDeck/AssetGuardian/AssetTypeIdentifier.cs.meta
  VitDeck/Assets/VitDeck/AssetGuardian/LabelAndHideFlagProtectionMarker.cs
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Audio.mp3
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Audio.mp3.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Mesh.obj
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Mesh.obj.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Model.fbx
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Model.fbx.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Red Mat.mat
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Red Mat.mat.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene.unity
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene.unity.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene/LightingData.asset
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene/LightingData.asset.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene/Lightmap-0_comp_dir.png
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene/Lightmap-0_comp_dir.png.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene/Lightmap-0_comp_light.exr
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene/Lightmap-0_comp_light.exr.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene/ReflectionProbe-0.exr
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene/ReflectionProbe-0.exr.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene/ReflectionProbe-1.exr
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Scene/ReflectionProbe-1.exr.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Sprite.png
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Sprite.png.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Text.txt
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Text.txt.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Texture.png
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test Texture.png.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/LabelAndHideFlagProtectionMarkerTest.cs
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/TestAssets.cs
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/TestDataBinary.cs
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/TestDataBinary.cs.meta
  VitDeck/Assets/VitDeck/Utilities/AssetUtility.cs
Labels: AssetGuardian, bug

#63 Fix #62
  VitDeck/Assets/VitDeck/Config.meta
  VitDeck/Assets/VitDeck/Config/ProductInfo.asset
  VitDeck/Assets/VitDeck/Config/ProductInfo.asset.meta
  VitDeck/Assets/VitDeck/Main/GUI/InfoWindow.cs
  VitDeck/Assets/VitDeck/Main/Tests/VitDeckTest.cs
  VitDeck/Assets/VitDeck/Main/UpdateCheck.cs
  VitDeck/Assets/VitDeck/Main/VitDeck.cs
  VitDeck/Assets/VitDeck/Utilities/AssetUtility.cs
  VitDeck/Assets/VitDeck/Utilities/ProductInfo.cs
  VitDeck/Assets/VitDeck/Utilities/ProductInfo.cs.meta
  VitDeck/Assets/VitDeck/Utilities/Tests/AssetUtilityTest.cs
  VitDeck/Assets/VitDeck/Utilities/Tests/VersionUtilityTest.cs
  VitDeck/Assets/VitDeck/Utilities/VersionUtility.cs
Labels: Main, enhancement

#61 Feature/#60
  .gitignore
  VitDeck/Assets/VitDeck/Config.meta
  VitDeck/Assets/VitDeck/Config/ProductInfo.asset
  VitDeck/Assets/VitDeck/Config/ProductInfo.asset.meta
  VitDeck/Assets/VitDeck/Main/GUI/InfoWindow.cs
  VitDeck/Assets/VitDeck/Main/Tests/VitDeckTest.cs
  VitDeck/Assets/VitDeck/Main/UpdateCheck.cs
  VitDeck/Assets/VitDeck/Main/VitDeck.cs
  VitDeck/Assets/VitDeck/Utilities/AssetUtility.cs
  VitDeck/Assets/VitDeck/Utilities/ProductInfo.cs
  VitDeck/Assets/VitDeck/Utilities/ProductInfo.cs.meta
  VitDeck/Assets/VitDeck/Utilities/Tests/AssetUtilityTest.cs
  VitDeck/Assets/VitDeck/Utilities/Tests/VersionUtilityTest.cs
  VitDeck/Assets/VitDeck/Utilities/UserSettingUtility.cs
  VitDeck/Assets/VitDeck/Utilities/UserSettingUtility.cs.meta
  VitDeck/Assets/VitDeck/Utilities/UserSettings.cs
  VitDeck/Assets/VitDeck/Utilities/UserSettings.cs.meta
  VitDeck/Assets/VitDeck/Utilities/VersionUtility.cs
  VitDeck/Assets/VitDeck/Validator/BaseRule.cs
  VitDeck/Assets/VitDeck/Validator/GUI/ValidatorGUI.cs
Labels: Validator, enhancement

#65 Feature/#57 organize assembly
  VitDeck/Assets/VitDeck/Validator/Components.meta
  VitDeck/Assets/VitDeck/Validator/Components/FatalValidationErrorException.cs
  VitDeck/Assets/VitDeck/Validator/Components/FatalValidationErrorException.cs.meta
  VitDeck/Assets/VitDeck/Validator/Components/IRule.cs
  VitDeck/Assets/VitDeck/Validator/Components/IRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Components/IRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Components/IRuleSet.cs.meta
  VitDeck/Assets/VitDeck/Validator/Components/Issue.cs
  VitDeck/Assets/VitDeck/Validator/Components/Issue.cs.meta
  VitDeck/Assets/VitDeck/Validator/Components/ValidationAttribute.cs
  VitDeck/Assets/VitDeck/Validator/Components/ValidationAttribute.cs.meta
  VitDeck/Assets/VitDeck/Validator/Components/ValidationResult.cs
  VitDeck/Assets/VitDeck/Validator/Components/ValidationResult.cs.meta
  VitDeck/Assets/VitDeck/Validator/Components/VitDeck.Validator.Components.asmdef
  VitDeck/Assets/VitDeck/Validator/Components/VitDeck.Validator.Components.asmdef.meta
  VitDeck/Assets/VitDeck/Validator/GUI/ValidatorGUI.cs
  VitDeck/Assets/VitDeck/Validator/GUI/VitDeck.Validator.GUI.asmdef
  VitDeck/Assets/VitDeck/Validator/Rules/BaseRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/BaseRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Rules/BaseRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Rules/BaseRuleSet.cs.meta
  VitDeck/Assets/VitDeck/Validator/Rules/SampleRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/SampleRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Rules/SampleRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Rules/SampleRuleSet.cs.meta
  VitDeck/Assets/VitDeck/Validator/Rules/VitDeck.Validator.Rules.asmdef
  VitDeck/Assets/VitDeck/Validator/Tests/VitDeck.Validator.Tests.asmdef
  VitDeck/Assets/VitDeck/Validator/Validator.cs
  VitDeck/Assets/VitDeck/Validator/VitDeck.Validator.asmdef
Labels: Validator

#77 Feature/#66
  VitDeck/Assets/VitDeck/Validator/Rules/Sample/SampleRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Unity.meta
  VitDeck/Assets/VitDeck/Validator/Rules/Unity/U01_UnityVersionRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Unity/U01_UnityVersionRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/TestValidator.cs
  VitDeck/Assets/VitDeck/Validator/Tests/U01_TestUnityVersionRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/U01_TestUnityVersionRule.cs.meta
Labels: Validator, enhancement

#80 Feature/#57 validation target finder2
  VitDeck/Assets/VitDeck/Validator/Components/IValidationTargetFinder.cs
  VitDeck/Assets/VitDeck/Validator/Components/ValidationTargetFinder.cs
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes.meta
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes/New Scene.unity
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes/New Scene.unity.meta
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes/Sub Folder.meta
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes/Sub Folder/Scene in sub folder.unity
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes/Sub Folder/Scene in sub folder.unity.meta
  VitDeck/Assets/VitDeck/Validator/Tests/TestValidationTargetFinder.cs
  VitDeck/Assets/VitDeck/Validator/Tests/TestValidator.cs
  VitDeck/Assets/VitDeck/Validator/Tests/Validate.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Validate/New Scene.unity
  VitDeck/Assets/VitDeck/Validator/Tests/Validate/New Scene.unity.meta
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder/New Scene.unity
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder/Sub Folder.meta
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder/Sub Folder/New Prefab in sub folder.prefab
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder/Sub Folder/New Prefab in sub folder.prefab.meta
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinderNoObject.meta
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinderNoObject/No Object.unity
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinderNoObject/No Object.unity.meta
  VitDeck/Assets/VitDeck/Validator/Validator.cs
Labels: Validator, enhancement

#78 Feature/#57 validation target finder
  VitDeck/Assets/VitDeck/Validator/Components/IRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Components/IValidationTargetFinder.cs
  VitDeck/Assets/VitDeck/Validator/Components/IValidationTargetFinder.cs.meta
  VitDeck/Assets/VitDeck/Validator/Components/ValidationTarget.cs
  VitDeck/Assets/VitDeck/Validator/Components/ValidationTargetFinder.cs
  VitDeck/Assets/VitDeck/Validator/Components/ValidationTargetFinder.cs.meta
  VitDeck/Assets/VitDeck/Validator/Rules/BaseRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/BaseRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Tests/Exception.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Exception/ExceptionRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/Exception/ExceptionRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Exception/ExceptionRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Tests/Exception/ExceptionRuleSet.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes.meta
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes/New Scene.unity
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes/New Scene.unity.meta
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes/Sub Folder.meta
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes/Sub Folder/Scene in sub folder.unity
  VitDeck/Assets/VitDeck/Validator/Tests/MultiScenes/Sub Folder/Scene in sub folder.unity.meta
  VitDeck/Assets/VitDeck/Validator/Tests/TestValidationTargetFinder.cs
  VitDeck/Assets/VitDeck/Validator/Tests/TestValidationTargetFinder.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/TestValidator.cs
  VitDeck/Assets/VitDeck/Validator/Tests/Validate.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Validate/New Scene.unity
  VitDeck/Assets/VitDeck/Validator/Tests/Validate/New Scene.unity.meta
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder.meta
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder/New Scene.unity
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder/New Scene.unity.meta
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder/Sample_object.fbx
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder/Sample_object.fbx.meta
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder/Sub Folder.meta
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder/Sub Folder/New Prefab in sub folder.prefab
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinder/Sub Folder/New Prefab in sub folder.prefab.meta
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinderNoObject.meta
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinderNoObject/No Object.unity
  VitDeck/Assets/VitDeck/Validator/Tests/ValidationTargetFinderNoObject/No Object.unity.meta
  VitDeck/Assets/VitDeck/Validator/Validator.cs
Labels: Validator, enhancement

#81 Feature/#68
  VitDeck/Assets/VitDeck/Validator/Rules/Asset/A02_AssetGuidBlacklistRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Asset/A02_AssetGuidBlacklistRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Rules/Sample/SampleRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Tests/A02_TestAssetGuidBlacklistRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/A02_TestAssetGuidBlacklistRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A02_AssetGuidBlacklistRule.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A02_AssetGuidBlacklistRule/New Scene.unity
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A02_AssetGuidBlacklistRule/New Scene.unity.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A02_AssetGuidBlacklistRule/Prohibited material.mat
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A02_AssetGuidBlacklistRule/Prohibited material.mat.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A02_AssetGuidBlacklistRule/Sub Folder.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A02_AssetGuidBlacklistRule/Sub Folder/Prohibited fbx.fbx
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A02_AssetGuidBlacklistRule/Sub Folder/Prohibited fbx.fbx.meta
Labels: Validator, enhancement

#82 Feature/#69
  VitDeck/Assets/VitDeck/Validator/Rules/Asset/A03_AssetPathLengthRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Asset/A03_AssetPathLengthRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Rules/Sample/SampleRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Tests/A03_TestAssetPathLengthRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/A03_TestAssetPathLengthRule.cs.meta
Labels: Validator

#85 Feature/#71
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B01_BoothBoundsRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B01_BoothBoundsRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/B01_TestBoothBoundsRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/B01_TestBoothBoundsRule.cs.meta
Labels: Validator, enhancement

#83 Feature/#70
  VitDeck/Assets/VitDeck/Validator/Rules/Asset/A04_AssetExtentionBlacklistRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Asset/A04_AssetExtentionBlacklistRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/A04_TestAssetExtentionBlacklistRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/A04_TestAssetExtentionBlacklistRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A04_AssetExtentionBlacklistRule.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A04_AssetExtentionBlacklistRule/TestData.txt
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A04_AssetExtentionBlacklistRule/TestData.txt.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A04_AssetExtentionBlacklistRule/test.txt.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/A04_AssetExtentionBlacklistRule/test.txt/.gitkeep
Labels: Validator, enhancement

#84 Feature/#72
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B02_ComponentWhitelistRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B02_ComponentWhitelistRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/ComponentReference.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/ComponentReference.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/B02_TestComponentWhitelistRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/B02_TestComponentWhitelistRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B02_ComponentWhitelistRule.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B02_ComponentWhitelistRule/B02_ComponentWhitelistRule.unity
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B02_ComponentWhitelistRule/B02_ComponentWhitelistRule.unity.meta
Labels: Validator, enhancement

#93 Feature/#90
  VitDeck/Assets/VitDeck/AssetGuardian/AssetRestorer.cs
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test AnimatorController.controller
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/Data/Test AnimatorController.controller.meta
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/TestAssets.cs
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/TestDataBinary.cs
Labels: AssetGuardian, bug

#95 Feature/#86 #92
  VitDeck/Assets/VitDeck/Validator/Rules/Asset/A01_AssetNamingRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/A01_TestAssetNamingRule.cs
Labels: Validator, bug

#96 Feature/create test utility
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/LabelAndHideFlagProtectionMarkerTest.cs
  VitDeck/Assets/VitDeck/AssetGuardian/Tests/VitDeck.AssetGuardian.Tests.asmdef
  VitDeck/Assets/VitDeck/TestUtilities.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test AnimatorController.controller
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test AnimatorController.controller.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Audio.mp3
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Audio.mp3.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Mesh.obj
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Mesh.obj.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Model.fbx
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Model.fbx.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Red Mat.mat
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Red Mat.mat.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene.unity
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene.unity.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene/LightingData.asset
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene/LightingData.asset.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene/Lightmap-0_comp_dir.png
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene/Lightmap-0_comp_dir.png.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene/Lightmap-0_comp_light.exr
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene/Lightmap-0_comp_light.exr.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene/ReflectionProbe-0.exr
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene/ReflectionProbe-0.exr.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene/ReflectionProbe-1.exr
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Scene/ReflectionProbe-1.exr.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Sprite.png
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Sprite.png.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Text.txt
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Text.txt.meta
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Texture.png
  VitDeck/Assets/VitDeck/TestUtilities/Data/Test Texture.png.meta
  VitDeck/Assets/VitDeck/TestUtilities/TestAssets.cs
  VitDeck/Assets/VitDeck/TestUtilities/TestAssets.cs.meta
  VitDeck/Assets/VitDeck/TestUtilities/TestDataBinary.cs
  VitDeck/Assets/VitDeck/TestUtilities/TestDataBinary.cs.meta
  VitDeck/Assets/VitDeck/TestUtilities/TestScriptableObject.cs
  VitDeck/Assets/VitDeck/TestUtilities/TestScriptableObject.cs.meta
  VitDeck/Assets/VitDeck/TestUtilities/VitDeck.TestUtilities.asmdef
  VitDeck/Assets/VitDeck/TestUtilities/VitDeck.TestUtilities.asmdef.meta
  VitDeck/Assets/VitDeck/Validator/Tests/VitDeck.Validator.Tests.asmdef
Labels: enhancement

#48 Feature/#46
  release.bat
Labels: enhancement

#89 Feature/#73
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B03_ComponentBlacklistRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B03_ComponentBlacklistRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/B03_TestComponentBlacklistRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/B03_TestComponentBlacklistRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B03_ComponentBlacklistRule.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B03_ComponentBlacklistRule/B03_ComponentBlacklistRule.unity
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B03_ComponentBlacklistRule/B03_ComponentBlacklistRule.unity.meta
Labels: Validator, enhancement

#99 Fix #98
  VitDeck/Assets/VitDeck/Validator/Rules/Sample/SampleRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Unity/U01_UnityVersionRule.cs
Labels: Validator, enhancement

#105 Feature/#101
  VitDeck/Assets/VitDeck/Templates/Sample_template/TemplateAssets/{BOOTHID}_{NAME}/Scene_{BOOTHID}_{NAME}.unity
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B01_BoothBoundsRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/B01_TestBoothBoundsRule.cs
Labels: Validator, enhancement

#103 Add ForceText warning
  VitDeck/Assets/VitDeck/TemplateLoader/GUI/TemplateLoaderGUI.cs
  VitDeck/Assets/VitDeck/TemplateLoader/TemplateLoader.cs
Labels: TemplateLoader, enhancement

#108 Feature/#76
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B06_MissingReferenceRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B06_MissingReferenceRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/MissingFinder.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/MissingFinder.cs.meta
  VitDeck/Assets/VitDeck/Validator/Rules/Sample/SampleRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Tests/B06_TestMissingReferenceRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/B06_TestMissingReferenceRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule/B06_MissingReferenceRule.unity
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule/B06_MissingReferenceRule.unity.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule/B06_MissingTestMaterial.mat
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule/B06_MissingTestMaterial.mat.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule/B06_MissingTestPrefab.prefab
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule/B06_MissingTestPrefab.prefab.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule/B06_RecursiveMissingTestPrefab.prefab
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule/B06_RecursiveMissingTestPrefab.prefab.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule/B06_RecursiveMissingTestPrefabChild.prefab
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B06_MissingReferenceRule/B06_RecursiveMissingTestPrefabChild.prefab.meta
Labels: Validator, enhancement

#109 Featurer/#74
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B04_ErrorShaderRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B04_ErrorShaderRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/B04_TestErrorShaderRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/B04_TestErrorShaderRule.cs.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B04_ErrorShaderRule.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B04_ErrorShaderRule/B04_ErrorShaderRule.unity
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B04_ErrorShaderRule/B04_ErrorShaderRule.unity.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B04_ErrorShaderRule/Error Shader Material.mat
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B04_ErrorShaderRule/Error Shader Material.mat.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B04_ErrorShaderRule/ErrorShader.shader
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B04_ErrorShaderRule/ErrorShader.shader.meta
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B04_ErrorShaderRule/Null Reference Material.mat
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B04_ErrorShaderRule/Null Reference Material.mat.meta
Labels: Validator, enhancement

#104 Feature/#102
  VitDeck/Assets/VitDeck/Validator/Tests/TestValidator.cs
  VitDeck/Assets/VitDeck/Validator/Validator.cs
Labels: Feature request, Validator, enhancement

#110 Feature/#57 samplerule
  VitDeck/Assets/VitDeck/Validator/Rules/Sample/SampleRuleSet.cs
Labels: Validator, enhancement

#54 Update README.md
  README.md
Labels: enhancement

#114 update unity version
  release.bat
Labels: Main, enhancement

#127 Fix #124
  VitDeck/Assets/VitDeck/Validator/GUI/ValidatorGUI.cs
Labels: 1.0.0-vketB, Validator, bug

#128 Feature/#121
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B02_ComponentWhitelistRule.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B03_ComponentBlacklistRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B02_ComponentWhitelistRule/B02_ComponentWhitelistRule.unity
  VitDeck/Assets/VitDeck/Validator/Tests/Data/B03_ComponentBlacklistRule/B03_ComponentBlacklistRule.unity
Labels: 1.0.0-vketB, Validator, bug

#130 Feature/#123
  VitDeck/Assets/VitDeck/Config/DefaultExportSetting.asset
  VitDeck/Assets/VitDeck/Config/DefaultExportSetting.asset.meta
  VitDeck/Assets/VitDeck/Config/DefaultExportSetting_SHA-1.asset
  VitDeck/Assets/VitDeck/Config/DefaultExportSetting_SHA-1.asset.meta
  VitDeck/Assets/VitDeck/Exporter/ExportResult.cs
  VitDeck/Assets/VitDeck/Exporter/ExportResult.cs.meta
  VitDeck/Assets/VitDeck/Exporter/ExportSetting.cs
  VitDeck/Assets/VitDeck/Exporter/ExportSetting.cs.meta
  VitDeck/Assets/VitDeck/Exporter/Exporter.cs
  VitDeck/Assets/VitDeck/Exporter/Exporter.cs.meta
  VitDeck/Assets/VitDeck/Exporter/GUI/VitDeck.Exporter.GUI.asmdef
  VitDeck/Assets/VitDeck/Exporter/Tests/TestBaseFolder.meta
  VitDeck/Assets/VitDeck/Exporter/Tests/TestBaseFolder/New Scene.unity
  VitDeck/Assets/VitDeck/Exporter/Tests/TestBaseFolder/New Scene.unity.meta
  VitDeck/Assets/VitDeck/Exporter/Tests/TestExporter.cs
  VitDeck/Assets/VitDeck/Exporter/Tests/TestExporter.cs.meta
  VitDeck/Assets/VitDeck/Main/GUI/MainMenu.cs
  VitDeck/Assets/VitDeck/Main/ValidatedExporter.meta
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/GUI.meta
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/GUI/ValidatedExporterGUI.cs
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/GUI/ValidatedExporterGUI.cs.meta
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/GUI/VitDeck.Main.ValidatedExporter.GUI.asmdef
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/GUI/VitDeck.Main.ValidatedExporter.GUI.asmdef.meta
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/Tests.meta
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/Tests/TestValidatedExporter.cs
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/Tests/TestValidatedExporter.cs.meta
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/Tests/VitDeck.Main.ValidatedExporter.Tests.asmdef
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/Tests/VitDeck.Main.ValidatedExporter.Tests.asmdef.meta
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/ValidatedExportResult.cs
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/ValidatedExportResult.cs.meta
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/ValidatedExporter.cs
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/ValidatedExporter.cs.meta
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/VitDeck.Main.ValidatedExporter.asmdef
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/VitDeck.Main.ValidatedExporter.asmdef.meta
  VitDeck/Assets/VitDeck/Utilities/UserSettings.cs
  VitDeck/Assets/VitDeck/Validator/Tests/SampleRule/PassRuleSet.cs
  VitDeck/Assets/VitDeck/Validator/Tests/SampleRule/PassRuleSet.cs.meta
  VitDeck/Assets/VitDeck/Validator/Validator.cs
Labels: 1.0.0-vketB, Exporter, enhancement

#131 Update release.bat
  release.bat
Labels: 1.0.0-vketB, enhancement
