Repository VitDeck/VitDeck, pull requests merged in 2019-08, with the labels that each got.

#152 Fix #119
  VitDeck/Assets/VitDeck/Validator/Rules/BaseRuleSet.cs
Labels: Validator, bug

#156 Fix #146
  VitDeck/Assets/VitDeck/TemplateLoader/TemplateLoader.cs
Labels: TemplateLoader

#157 feature/#32
  VitDeck/Assets/VitDeck/TemplateLoader/GUI/TemplateLoaderGUI.cs
Labels: TemplateLoader

#160 Fix #158
  VitDeck/Assets/VitDeck/TemplateLoader/GuidReferenceModifier.cs
Labels: TemplateLoader, enhancement

#159 Feature/#150
  .gitignore
  VitDeck/Assets/VitDeck.meta
  VitDeck/Assets/VitDeck/TemplateLoader/TemplateLoader.cs
  VitDeck/Assets/VitDeck/Utilities/AssetUtility.cs
  VitDeck/Assets/VitDeck/Utilities/Tests/AssetUtilityTest.cs
Labels: TemplateLoader, bug

#165 Fix #115
  VitDeck/Assets/VitDeck/Main/GUI/MainMenu.cs
Labels: Main

#163 Feature/updater
  VitDeck/Assets/VitDeck/Main/GUI/InfoWindow.cs
  VitDeck/Assets/VitDeck/Main/JsonReleaseInfo.cs
  VitDeck/Assets/VitDeck/Main/Tests/UpdateCheckTest.cs
  VitDeck/Assets/VitDeck/Main/UpdateCheck.cs
Labels: Main

#167 Feature/#64
  VitDeck/Assets/VitDeck/Config/ProductInfo.asset
  VitDeck/Assets/VitDeck/Main/GUI/InfoWindow.cs
  VitDeck/Assets/VitDeck/Utilities/ProductInfo.cs
  VitDeck/Assets/VitDeck/Utilities/ProductInfoUtility.cs
  VitDeck/Assets/VitDeck/Utilities/ProductInfoUtility.cs.meta
  VitDeck/Assets/VitDeck/Utilities/Tests/ProductInfoUtilityTest.cs
  VitDeck/Assets/VitDeck/Utilities/Tests/ProductInfoUtilityTest.cs.meta
Labels: Main, enhancement

#168 Feature/#117
  VitDeck/Assets/VitDeck/Main/GUI/InfoWindow.cs
  VitDeck/Assets/VitDeck/Main/Tests/UpdateCheckTest.cs
  VitDeck/Assets/VitDeck/Main/UpdateCheck.cs
  VitDeck/Assets/VitDeck/Main/ValidatedExporter/GUI/ValidatedExporterGUI.cs
  VitDeck/Assets/VitDeck/Utilities/ProductInfoUtility.cs
  VitDeck/Assets/VitDeck/Utilities/Tests/ProductInfoUtilityTest.cs
  VitDeck/Assets/VitDeck/Utilities/Tests/VersionUtilityTest.cs
  VitDeck/Assets/VitDeck/Utilities/Tests/VersionUtilityTest.cs.meta
  VitDeck/Assets/VitDeck/Utilities/VersionUtility.cs
  VitDeck/Assets/VitDeck/Utilities/VersionUtility.cs.meta
  VitDeck/Assets/VitDeck/Validator/GUI/ValidatorGUI.cs
  VitDeck/Assets/VitDeck/Validator/Rules/Sample/SampleRule.cs
Labels: Main, enhancement

#169 Feature/booth bounds rule
  VitDeck/Assets/VitDeck/Validator/Rules/Booth/B01_BoothBoundsRule.cs
  VitDeck/Assets/VitDeck/Validator/Tests/B01_TestBoothBoundsRule.cs
Labels: Validator, enhancement

#171 Feature/#170
  VitDeck/Assets/VitDeck/TemplateLoader/GUI/TemplateLoaderGUI.cs
  VitDeck/Assets/VitDeck/Templates/Sample_template/LICENSE.txt
Labels: enhancement
